name: Build Android APK

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Quasar Project
        run: npx quasar build -m capacitor -T android

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Build APK (Gradle)
        working-directory: ./src-capacitor/android
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK to GitHub
        uses: actions/upload-artifact@v3
        with:
          name: app-debug.apk
          path: src-capacitor/android/app/build/outputs/apk/debug/app-debug.apk
